<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.gfd.eshop"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:name=".feature.EShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
       <!-- <meta-data
            android:name=".base.glide.DefaultGlideModule"
            android:value="GlideModule"/>-->
        <activity
            android:name=".feature.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.EShopMainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.goods.GoodsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.search.SearchGoodsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.mine.SignInActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.mine.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.order.preview.OrderPreviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.address.edit.EditAddressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.address.manage.ManageAddressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.order.list.OrderListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.cart.CartActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.settings.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.collect.CollectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.help.HelpActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>